.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  text-align: center;
  margin-left: 410px;

}

hr {
  width: 300px;
  border: 1px solid white;
  margin: 10px 0;
}
.text-line {
  border-bottom: 2px solid white;
  width: 300px;
  height: 20px;
}

.text-line-short {
  border-bottom: 2px solid white;
  width: 150px;
  height: 20px;
  margin-bottom: 40px;
}

table {
  border-collapse: collapse;
}

td {
  border: 2px solid white;
  width: 80px;
  height: 45px;
}
