.container {
    display: flex;
    background-color: rgb(67, 67, 67);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    margin-left: 10px;
    padding: 7px 20px;
    border: 2px solid grey;
    border-radius: 20px;
}