button {
    border: none;
    color: white;
    background-color: grey;
    text-align: center;
    text-decoration: none;
    margin: 1rem;
    display: inline-block;
    padding: 7px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

input {
    padding: 5px;
    border-radius: 5px;
}

li {
    list-style: none;
    margin: 5px;
    border: 2px solid black;
    border-radius: 7px;
}